button {
  font-size: 20px;
  padding: 18px 21px;
  background-color: #333333;
  border: 1px solid black;
  color: white;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  align-items: center;
  background-color: black;
  height: fit-content;
  border-radius: 15px;
  padding: 15px 10px;
}
.row button {
  padding: 15px 23px;
  border-radius: 30px;
}
.row1 button {
  border-radius: 30px;
}
#zero {
  padding: 15px 59px;
}
#equal {
  padding: 15px 37px;
  background-color: lawngreen;
  color: black;
}
#divide {
  padding: 12.5px 34px;
  font-size: 23px;
}
#rem {
  padding: 15px 12px;
  color: black;
}
#plus,
#mul {
  padding: 15px 36px;
}
#min {
  padding: 15px 38px;
}
#del,
#ac {
  padding: 15px 15.5px;
  background-color: rgb(128, 128, 128);
  color: black;
}

#rem {
  padding: 15px 15px;
}
.screen {
  font-size: 39px;
  color: white;
  border: 1px solid black;
  width: 272px;
  height: 110px;
  overflow: hidden;
  display: flex;
  justify-content: start;
}
.ansScreen {
  display: flex;
  justify-content: right;
  align-items: end;
  font-size: 39px;
  color: #ff9702;
  overflow: hidden;
  width: 272px;
  height: 110px;
  display: flex;
  justify-content: right;
  align-items: end;
}
.orColor {
  background-color: #ff9702;
}
/* ------------------- hover/active buttons----------------------*/
button:hover {
  opacity: 90%;
}
button:active {
  opacity: 60%;
}
/* -------------- media querry-------------------------------- */
@media (max-width: 780px) {
  button {
    font-size: 17px;
    padding: 10px 13px;
  }
  body {
    height: 100vh;
  }
  .mainDiv {
    border-radius: 15px;
    width: 320px;
    height: 100vh;
    row-gap: 10px;
    padding: 0px;
    background-color: black;
  }
  .row1,
  .row2,
  .row3,
  .row4,
  .row5 {
    display: flex;
    column-gap: 10px;
  }
  .row button {
    padding: 13px 19px;
  }

  #zero {
    padding: 13px 45px;
  }
  #equal {
    padding: 13px 26px;
  }
  #divide {
    padding: 11px 20px;
    font-size: 20px;
  }
  #rem {
    padding: 10px 13px;
    font-size: 12px;
  }
  #plus,
  #mul {
    padding: 13px 24px;
  }
  #min {
    padding: 13px 25px;
  }
  #del,
  #ac {
    padding: 13px 12px;
  }

  #rem {
    padding: 18px 18px;
  }
  .screen {
    font-size: 29px;
    padding: 20px 10px;
    color: white;
    height: 190px;
    width: 200px;
    overflow: hidden;
    margin-top: 20px;
  }
  .ansScreen {
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 20px 0px;
    font-size: 33px;
    color: #ff9702;
    border: 1px solid black;
    height: 170px;
    width: 200px;
    overflow: hidden;
  }
  .orColor {
    background-color: #ff9702;
  }
}

@media (min-width: 1441px) {
  button {
    font-size: 22px;
    padding: 20px 21px;
    background-color: #333333;
    border: 1px solid black;
    color: white;
  }

  .mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
    align-items: center;
    background-color: black;
    width: 360px;
    height: fit-content;
    border-radius: 19px;
    padding: 10px 5px 20px;
  }
  .row button {
    padding: 20px 28px;
    border-radius: 27px;
  }
  .row1 button {
    border-radius: 27px;
  }
  #zero {
    padding: 20px 65px;
  }
  #equal {
    padding: 20px 44px;
  }
  #divide {
    padding: 19px 42px;
    font-size: 23px;
  }
  #rem {
    padding: 20px 22px;
  }
  #plus,
  #mul {
    padding: 20px 44px;
  }
  #min {
    padding: 20px 45px;
  }
  #del,
  #ac {
    padding: 20px 20px;
  }

  #rem {
    padding: 24px 20px;
  }
  .screen {
    font-size: 48px;
    padding: 30px 20px;
    border: 1px solid black;
    width: 290px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: start;
  }
  .ansScreen {
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 35px 20px;
    font-size: 47px;
    color: #ff9702;
    width: 272px;
    height: 150px;
    overflow: hidden;
  }
}
